<% provide(:title, "Assignments") %>
<h3>Created Assignments</h3>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date Created</th>
        <th>Date Due</th>
        <th>Category</th>
        <th>Total Points</th>
      </tr>
    </thead>

    <tbody>
      <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.title, assignment %></td>
        <td><%= assignment.date_created %></td>
        <td><%= assignment.date_due %></td>
        <td><%= assignment.category %></td>
        <td><%= assignment.total_points %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Assignment', new_assignment_path, class: "btn btn-primary " %><br /><br />
<%= link_to 'Back to Courses', courses_path, class: "btn btn-danger " %>
