<%= form_for(@course_enrollment) do |f| %>
<% if @course_enrollment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@course_enrollment.errors.count, "error") %> prohibited this course from being saved:</h2>

  <ul>
    <% @course_enrollment.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @course_enrollment do |f| %>

<%= f.label :course_ID %> (required)
<%= f.text_field :course_id %><br /><br />

<%= f.label :student_ID %> (required)
<%= f.text_field :student_id %><br /><br />

<% if current_page? new_course_enrollment_path %>
  <div class="actions">
    <%= f.submit "Submit", class:"btn btn-primary" %>
  </div><br />
<% else %>
  <div class="actions">
    <%= f.submit "Update", class:"btn btn-primary" %>
  </div><br />
<% end %>
<% end %>
<% end %>
