<% provide(:title, "Course Enrollments") %>
<h3>Course Enrollments</h3>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Course ID</th>
        <th>Enrollment ID</th>
        <th>Student First Name</th>
        <th>Student Last Name</th>
        <th>Course Name</th>
      <tr>
    </thead>

    <tbody>
      <% if @course_enrollment %>
      <% @course_enrollments.each do |course_enrollment| %>
      <tr>
        <td><%= course_enrollment.student_id %></td>
        <td><%= course_enrollment.course_id %></td>
        <td><%= link_to course_enrollment.id, course_enrollment %></td>
        <td><%= course_enrollment.student.first_name %></td>
        <td><%= course_enrollment.student.last_name %></td>
        <td><%= course_enrollment.course.name %></td>
      <% end %>
      <% end %>
    <tbody>
  </table>
</div>

<%= link_to 'New Course Enrollment', new_course_enrollment_path, class: "btn btn-primary " %><br /><br />
<%= link_to 'Back to Courses', courses_path, class: "btn btn-primary " %>
