<p id="notice"><%= notice %></p>
<h2><%= @student.first_name + ' ' + @student.last_name %></h2>
<ul>
  <li><strong>First Name:</strong> <%= handle_not_set @student.first_name %></li>
  <li><strong>Last Name:</strong> <%= handle_not_set @student.last_name %></li>
  <li><strong>Section:</strong> <%= handle_not_set @student.grade_level %></li>
  <li><strong>Birth Month:</strong> <%= handle_not_set @student.birth_month%></li>
  <li><strong>Birth Day:</strong> <%= handle_not_set @student.birth_day %></li>
  <li><strong>Birth Year:</strong> <%= handle_not_set @student.birth_year %></li>
</ul>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
