<% provide(:title, "Student") %>
<h2><%= @student.first_name + ' ' + @student.last_name %></h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Student ID</th>
        <th>Grade Level</th>
        <th>Birth Month</th>
        <th>Birth Day</th>
        <th>Birth Year</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @student.first_name %></td>
          <td><%= @student.last_name %></td>
          <td><%= @student.id %></td>
          <td><%= @student.grade_level %></td>
          <td><%= @student.birth_month %></td>
          <td><%= @student.birth_year %></td>
        </tr>
    </tbody>
  </table>
</div>

<%= link_to 'Edit Student Information', edit_student_path(@student), class: "btn btn-primary " %><br /><br />
<%= link_to 'Back to Course', course_path, class: "btn btn-primary " %><br /><br />
<%= link_to 'Remove Student', student_path, method: :delete, data: { confirm: 'Are you sure you want to remove this student from this course?' }, class: "btn btn-primary " %>
