<%= form_for @assignment, :url => @url, remote: true do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_page? new_course_assignment_route(@course.id) %>
    <h3>Create New Assignment</h3>
  <% else %>
    <h3>Edit Assignment</h3>
  <% end %>


  <%= f.label :title %> (required)
  <%= f.text_field :title, class: 'form-control form-control-inline' %><br /><br />

  <%= f.label :date_created %>
  <%= f.date_select :date_created, start_year: Date.current.year, end_year: 2015  %><br /><br />

  <%= f.label :date_due %>
  <%= f.date_select :date_due, start_year: Date.current.year, end_year: 2015 %><br /><br />

  <%= f.label :category %>
  <%= f.text_field :category, class: 'form-control form-control-inline' %><br /><br />

  <%= f.label :total_points %>
  <%= f.number_field :total_points, class: 'form-control form-control-inline' %><br /><br />


  <div class="actions">
      <%= f.submit "Submit", class:"btn btn-primary", remote: true %>
  </div>

<% end %>
