<% provide(:title, "Course Assignment") %>
<h2><%= @assignment.title %></h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date Created</th>
        <th>Date Due</th>
        <th>Category</th>
        <th>Total Points</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @assignment.title %></td>
        <td><%= @assignment.date_created %></td>
        <td><%= @assignment.date_due %></td>
        <td><%= @assignment.category %></td>
        <td><%= @assignment.total_points %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to 'Delete Assignment', assignment_path, method: :delete, data: { confirm: 'Are you sure you want to delete this assignment?' }, class: "btn btn-primary" %> <br /><br />
<%= link_to 'Edit Assignment', edit_assignment_path(@assignment), class: "btn btn-primary", remote: true %><br /><br />
