<%= form_for(@student, :url => @url) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@student, :url => @url) do |f| %>
  <%= f.label :first_name %> (required)
  <%= f.text_field :first_name, class: 'form-control form-control-inline' %><br /><br />

  <%= f.label :last_name %> (required)
  <%= f.text_field :last_name, class: 'form-control form-control-inline' %><br /><br />

  <%= f.label :grade_level %> (numbers only)
  <%= f.text_field :grade_level, class: 'form-control form-control-inline' %><br /><br />

  <%= f.label :birthdate %> (numbers only)
  <%= f.text_field :birthdate, class: 'datepicker form-control form-control-inline' %><br /><br />

  <div class="actions">
    <%= f.submit "Submit", class:"btn btn-primary" %>
  </div>
<% end %>
<% end %>
