<%= form_for @student, :url => @url, remote: true do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @student, :url => @url, remote: true do |f| %>
  <% if current_page? new_enroll_student_route(@course.id) %>
    <h3>Add New Student</h3>
  <% else %>
    <h3>Edit Student Information</h3>
  <% end %>
  <%= f.label :first_name %> (required)
  <%= f.text_field :first_name, class: 'form-control form-control-inline' %><br /><br />

  <%= f.label :last_name %> (required)
  <%= f.text_field :last_name, class: 'form-control form-control-inline' %><br /><br />

  <%= f.label :grade_level %>
  <%= f.select :grade_level, ("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>Freshman</option><option>Sophomore</option><option>Junior</option><option>Senior</option>").html_safe %><br /><br />

  <%= f.label :birthdate %>
  <%= f.date_select :birthdate, start_year: Date.current.year, end_year: 1900 %><br /><br />

  <div class="actions">
    <%= f.submit "Submit", class:"btn btn-primary" %>
  </div>
<% end %>
<% end %>
