<% provide(:title, "Login") %>
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary " %>
  </div>
<% end %>
<br />
<%#<%= link_to "Sign in with DigitalOcean", "https://cloud.digitalocean.com/v1/oauth/authorize?client_id=6174bfd0c9fe30eff8dc55631c391086f2e2b795f1302a4aa2855f85fcfe8c62&redirect_uri=http%3A%2F%2Fgradejoy.com%2Fusers%2Fauth%2Fdigitalocean%2Fcallback&response_type=code" %>
<%#<br /><br /> %>
<%= render "devise/shared/links" %>
