<div id="footer">
  <p>
    <%= link_to "About Gradejoy", login_about_path %> &middot;
    <%= link_to "Contact Us", login_contact_path %> &middot;
    <%= link_to "Privacy", login_privacy_path %> &middot;
    <%= link_to "Terms", login_terms_path%> &middot;
    <%= link_to "Source Code", "https://github.com/robertlandreaux/Gradejoy", :target => "_blank" %>
  </p>
</div>
