<div class="table-responsive" id="current_course_table_ajax">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Course ID</th>
        <th>Time of Day</th>
        <th>Period</th>
        <th>Section</th>
        <th>Created</th>
        <th>Number of Students</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @course.name %></td>
        <td><%= @course.id %></td>
        <td><%= @course.time.strftime("%H:%M") %></td>
        <td><%= @course.period %></td>
        <td><%= @course.section %></td>
        <td><%= @course.created_at %></td>
        <td><%= @course.students.all.count %></td>
      </tr>
    </tbody>
  </table>
</div>
