<%= form_for @course, remote: true do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_page? new_course_path %>
    <h3>Create New Course</h3>
  <% else %>
    <h3>Edit Course</h3>
  <% end %>
  <%= f.label :name %>(required)
  <%= f.text_field :name, class: 'form-control form-control-inline' %><br /><br />

  <%= f.label :time_of_day %>
  <%= f.time_select :time %><br /><br />

  <%= f.label :period %>
  <%= f.select :period, ("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option>").html_safe %><br /><br />

  <%= f.label :section %>
  <%= f.select :section, ("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option>").html_safe %><br /><br />

  <div class="actions">
    <%= f.submit "Submit", class:"btn btn-primary" %>
  </div>

<% end %>
