<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @course do |f| %>
  <%= f.label :course_name %>(required)
  <%= f.text_field :course_name %><br /><br />

  <%= f.label :time_of_day %>
  <%= f.text_field :time %><br /><br />

  <%= f.label :period %>
  <%= f.text_field :period %><br /><br />

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>

<% end %>
