<div class="table-responsive" id="main-table">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Grade Level</th>
        <th>Average</th>
        <% @course.assignments.each do |assignment| %>
          <th class="assignment" id="new_assignment"><%= link_to assignment.title, assignment, remote: true %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @course.students.each do |student| %>
      <tr>
        <td class="student" id="new_student"><%= link_to student.first_name, student, remote: true %></td>
        <td><%= student.last_name %></td>
        <td><%= student.grade_level %></td>
        <td>Average</td>
        <% @course.assignments.each do |assignment| %>
          <% grade = Grade.get_grade(student.id,assignment.id) %>
          <% if grade %>
            <td><%= link_to grade.points_earned, edit_grade_route(@course.id, student.id, assignment.id), id: "edit grade", remote: true %></td>
          <% else %>
            <td><%= link_to '---', new_grade_route(@course.id, student.id, assignment.id), id: "add grade", remote: true %></td>
          <% end %>
        <% end %>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
