<p id="notice"><%= notice %></p>
<h2><%= @course.name %></h2>
<ul>
  <li><strong>Time:</strong> <%= handle_not_set @course.time %></li>
  <li><strong>Period:</strong> <%= handle_not_set @course.period %></li>
</ul>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
