<div id="footer">
  <p>
    <%= link_to "About Gradejoy", dashboard_about_path %> &middot;
    <%= link_to "Contact Us", dashboard_contact_path %> &middot;
    <%= link_to "Privacy", dashboard_privacy_path %> &middot;
    <%= link_to "Terms", dashboard_terms_path%> &middot;
    <%= link_to "Source Code", "https://github.com/robertlandreaux/Gradejoy", :target => "_blank" %>
  </p>
</div>
