<div id="footer">
  <p>
    <%= link_to "About Gradejoy", about_path %> &middot;
    <%= link_to "Contact Us", contact_path %> &middot;
    <%= link_to "Privacy", privacy_path %> &middot;
    <%= link_to "Terms", terms_path%> &middot;
    <%= link_to "Source Code", "https://github.com/robertlandreaux/Gradejoy", :target => "_blank" %>
  </p>
</div>
